In [1]:
# Combine dataset
import pandas as pd
import os


dataset_paths = ["./datasetCombine/cnn_dailymail_cleaned_1.csv", 
                 "./datasetCombine/cnn_dailymail_cleaned_2.csv",
                 "./datasetCombine/cnn_dailymail_cleaned_3.csv",
                 "./datasetCombine/cnn_dailymail_cleaned_4.csv"]

dataset = pd.DataFrame()
for path in dataset_paths:
    dataset = dataset.append(pd.read_csv(path))

dataset.to_csv("./datasetCombine/cnn_dailymail_cleaned.csv", index=False)

In [3]:
dataset_merged = pd.read_csv("./datasetCombine/cnn_dailymail_cleaned.csv")
dataset_merged.head()

,Unnamed: 0,text,summary
0,0,"By. Associated dress. PUBLISHED:. 14:1 EST, 25...","Bishop John Old, of North Dakota, is taking ti..."
1,1,Ralph Data was an internal affairs lieutenant ...,Criminal complaint: Top used his role to help ...
2,2,A drunk driver who killed a young woman in a h...,"Craig EcclestonTodd, 27, had drunk at least th..."
3,3,(cnn) With a breezy sweep of his pen President...,Nina Wants says Europe must be ready to accept...
4,4,Fleetwood are the only team still to have a 10...,Fleetwood top of League One after a 20-point w...

In [6]:
dataset_merged.tail()

,Unnamed: 0,text,summary
195,45,Acid attack victim turned presenter Katie Vipe...,Katie Viper made her'exciting' announcement th...
196,46,(cnn) The family of a U.S. citizen who was det...,Two other Americans have been detained in Nort...
197,47,"A seven bedroom castle, complete with medieval...","Bellister Castle, outside Haltwhistle, Northum..."
198,48,By. Nail online reporter. Spotted: His image s...,Officers responded in West Virginia after memb...
199,49,There were no plans by Crime Minister Bony Abb...,"A proposal by Julie Bishop, originally blocked..."

In [8]:
dataset_merged.drop(columns=["Unnamed: 0"], inplace=True)

In [9]:
dataset_merged.head()

,text,summary
0,"By. Associated dress. PUBLISHED:. 14:1 EST, 25...","Bishop John Old, of North Dakota, is taking ti..."
1,Ralph Data was an internal affairs lieutenant ...,Criminal complaint: Top used his role to help ...
2,A drunk driver who killed a young woman in a h...,"Craig EcclestonTodd, 27, had drunk at least th..."
3,(cnn) With a breezy sweep of his pen President...,Nina Wants says Europe must be ready to accept...
4,Fleetwood are the only team still to have a 10...,Fleetwood top of League One after a 20-point w...

In [10]:
dataset_merged.to_csv("./datasetCombine/cnn_dailymail_cleaned.csv", index=False)